@font-face {
    font-family: "Clash Light";
    src: url("../fonts/ClashDisplay-Light.otf");
}

@font-face {
    font-family: "Clash Medium";
    src: url("../fonts/ClashDisplay-Medium.otf");
}

@font-face {
    font-family: "Zodiak Regular";
    src: url("../fonts/Zodiak-Regular.otf");
}

:root {
    --white: #FFFFFF;
    --black: #0E111C;
    --brown: #705634;
    --beige: #D1B386;
    --red:   #F75B37;
    --green: #6BAB70;
}

body {
    background: var(--black);
    font-size: 21px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

#game_name {
	border-top: 1px solid var(--white);
    margin: 0 0 24px 30px;
}

#points {
    display: flex;
    justify-content: space-between;
    
    margin: 0 8px 6px 40px;
}

#points li {
    border-left: 2px solid var(--white);
    height: 16px;
}

#points .right { border-left: 2px solid var(--green); }
#points .wrong { border-left: 2px solid var(--red); }

h1 {
    font-family: "Zodiak Regular";
    font-weight: 100;
    font-size: 1.28em;
    color: var(--black);
    text-align: center;
    padding: 4px 20px;
    margin: 0;
    
    min-width: 220px;
    background: var(--white);
}

#logo_block { margin-top: 120px; }

#logo_block li { margin-bottom: 80px; }

ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

#chess_desk {
}

#desk_numbers, #desk_letters {
    font-family: "Clash Medium";
    font-size: 1em;
    color: var(--beige);
}

#desk_numbers {
	position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 44px 0px;
}

#border_right {
	position: relative;
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 40px 0px;
    top: -694px;
    left: 350px;
}

#desk_numbers li, #border_right li {
	height: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-right: 18px;
}

#desk_numbers li:nth-child(even) { border-right: 8px solid var(--beige); }
#desk_numbers li:nth-child(odd) { border-right: 8px solid var(--black); }
#desk_numbers li:last-child { margin-right: -6px; }
#desk_numbers li:nth-child(2) { margin-right: -1px; }

#border_right li { margin-left: -2px; }
#border_right li:nth-child(odd) { border-left: 8px solid var(--beige); }
#border_right li:first-child,
#border_right li:last-child { margin-left: 52px; }

#desk_letters, #border_bottom {
	position: absolute;
    z-index: 2;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
    margin: 6px 40px;
}

#desk_letters li:nth-child(even) { border-bottom: 8px solid var(--beige); }
#desk_letters li:nth-child(odd) { border-bottom: 8px solid var(--black); }
#desk_letters li {padding-bottom: 4px;}

#border_bottom { margin-top: -14px; }

#border_bottom li:nth-child(odd) { border-top: 8px solid var(--beige); }

#desk_letters li, #border_bottom li {
	width: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#squares { margin: 44px 0 0 40px; }

.circle {
	width: 34px;
    height: 34px;
    border-radius: 16px;
    margin-left: 20px;
}

.brown { background: var(--brown); }
.beige { background: var(--white); }
