@font-face {
    font-family: "Clash Light";
    src: url("../fonts/ClashDisplay-Light.otf");
}

@font-face {
    font-family: "Clash Medium";
    src: url("../fonts/ClashDisplay-Medium.otf");
}

@font-face {
    font-family: "Zodiak Regular";
    src: url("../fonts/Zodiak-Regular.otf");
}

:root {
    --white: #FFFFFF;
    --black: #0E111C;
    --brown: #705634;
    --beige: #D1B386;
    --red:   #F75B37;
    --green: #6BAB70;
}

.white { background: var(--white) }
.black { background: var(--black) }
.brown { background: var(--brown) }
.beige { background: var(--beige) }
.red   { background: var(--red)   }
.green { background: var(--green) }

.white_txt { color: var(--white) }
.black_txt { color: var(--black) }
.brown_txt { color: var(--brown) }
.beige_txt { color: var(--beige) }
.red_txt   { color: var(--red)   }
.green_txt { color: var(--green) }








body {
    background: var(--black);
    font-size: 21px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

#points_border_bottom {
	border-top: 1px solid var(--white);
    margin: 0 0 24px 30px;
}

#points {
    display: flex;
    justify-content: space-between;
    
    margin: 0 8px 6px 40px;
}

#points li {
    border-left: 2px solid var(--white);
    height: 16px;
}

#points .right { border-left: 2px solid var(--green); }
#points .wrong { border-left: 2px solid var(--red); }

h1 {
    font-family: "Zodiak Regular";
    font-weight: 100;
    font-size: 1.28em;
    color: var(--black);
    text-align: center;
    padding: 4px 20px;
    margin: 0;
    
    min-width: 220px;
    background: var(--white);
}

#logo_block { margin-top: 120px; }

#logo_block li { margin-bottom: 80px; cursor: pointer; }

ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

#chess_desk {
}

#desk_numbers, #desk_letters {
    font-family: "Clash Medium";
    font-size: 1em;
    color: var(--beige);
}

#desk_numbers {
	position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 44px 0px;
}

#border_right {
	position: relative;
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 40px 0px;
    top: -694px;
    left: 350px;
}

#desk_numbers li, #border_right li {
	height: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-right: 18px;
}

#desk_numbers li:nth-child(even) { border-right: 8px solid var(--beige); }
#desk_numbers li:nth-child(odd) { border-right: 8px solid var(--black); }
#desk_numbers li:last-child { margin-right: -8px; }
#desk_numbers li:nth-child(2) { margin-right: -2px; }

#border_right li { margin-left: -2px; }
#border_right li:nth-child(odd) { border-left: 8px solid var(--beige); }
#border_right li:first-child,
#border_right li:last-child { margin-left: 52px; }

#desk_letters, #border_bottom {
	position: absolute;
    z-index: 2;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
    margin: 6px 40px;
}

#desk_letters li:nth-child(even) { border-bottom: 8px solid var(--beige); }
#desk_letters li:nth-child(odd) { border-bottom: 8px solid var(--black); }
#desk_letters li {padding-bottom: 4px;}

#border_bottom { margin-top: -14px; }

#border_bottom li:nth-child(odd) { border-top: 8px solid var(--beige); }

#desk_letters li, #border_bottom li {
	width: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#module_windows_area {
    position: absolute;
    z-index: 6;
    width: 640px;
    height: 640px;
    
    margin: 44px 0 0 40px;
}

#guess_or_play, #guess_debut, #guess_debut_result {
	width: 320px;
    height: 160px;
    
    position: absolute;
    top: 240px;
    left: 160px;
}



#guess_debut_stat_more { z-index: 10; }
#guess_debut_stat_full { z-index: 9; }

#guess_debut_stat_more, #guess_debut_stat_full {
	width: 640px;
    height: 320px;
    
    position: absolute;
    top: 160px;
    left: 0px;
}

#guess_debut_game_list {
    width: 320px;
    height: 640px;
    
    position: absolute;
    top: 0px;
    left: 160px;
}

#guess_or_play .flex_container div {
/*
	width: 160px;
    height: 160px;
*/
    
    cursor: pointer;
    display: grid;
    
/*
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
*/
}

#module_windows_area .question_mark {
    font-family: "Zodiak Regular";
    font-size: 3.6em;
    margin: 0;
    padding: 0;
/*    margin: 0 20px;*/
}

#guess_debut {
    padding-top: 12px;
    box-sizing: border-box;
}

#guess_debut .question_mark {
    font-size: 2.86em;
    margin-top: -12px;
    box-sizing: border-box;
}

#module_windows_area h2 {
    font-family: "Clash Light";
    font-size: 1em;
    font-weight: 100;
    margin: 0;
/*    padding: 16px;*/
    box-sizing: border-box;
}

#module_windows_area .black { color: var(--beige); }

#module_windows_area .black h2, #module_windows_area .black .question_mark { color: var(--beige); }
#module_windows_area .beige h2, #module_windows_area .beige .question_mark { color: var(--black); }

#guess_debut ul li {
    font-family: "Clash Medium";
    font-size: .57em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 18px;
    cursor: pointer;
}

#guess_debut_stat_more h3, #guess_debut_stat_full h3, #stat_game_list h3, #game_list h3 {
	font-family: "Clash Medium";
    font-weight: 100;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0;
    margin: 0;
}

#guess_debut_stat_more h3, #guess_debut_stat_full h3 { font-size: .48em; }

.scroll_cnt::-webkit-scrollbar { width: 10px; }
.scroll_cnt {
    overflow-y: auto;
    
    scrollbar-width: thin;
    scrollbar-color: var(--beige) var(--black);
}
.scroll_cnt::-webkit-scrollbar-track { background: var(--black); }
.scroll_cnt::-webkit-scrollbar-thumb {
    background-color: var(--beige) ;
    border-radius: 6px;
    border: 3px solid var(--black);
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.scroll_cnt_horizontal {
    position:absolute;
    display:block;

    width: 160px;
    max-height: 580px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-126px) translateX(1px);
    transform-origin: right top;
}
.scroll_cnt_horizontal ul li{
    
    transform: rotate(90deg) translateY(-60px);
    width: 8px;
    margin-top: -130px;
}

#full_stat_graph ul li div { width: 8px; }

#full_stat_graph ul li { cursor: pointer; }

#full_stat_graph ul {
    margin-top: 54px;
    width: 160px;
    padding-left: 14px;
}

#stat_game_list {
    flex-grow: 1;
    height: 660px;
}

#game_list {
    flex-grow: 1;
    height: 560px;
}

#stat_game_list h3, #game_list h3 {
    font-size: .57em;
    margin-bottom: .57em;
}

#stat_game_list {
    margin-top: 80px;
    margin-left: 10px;
}

#game_list {
	margin-left: 58px;
    margin-top: 40px;
}

#game_list h3 {
	font-family: "Clash Medium";
    font-weight: 100;
    color: var(--beige);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0;
    margin: 0 0 20px 0;
}

#game_list ul { margin-bottom: 20px; }
#stat_game_list ul { margin-bottom: 0.57em; }

#game_list h3, #game_list ul li { cursor: pointer;}

#stat_game_list ul, #game_list ul { 
    font-family: "Poppins Light";
    font-size: .57em;
    color: var(--beige);
}

#stat_game_list ul li, #game_list ul li { margin: 2px 0; }

#guess_debut_result .nmb_of_games,
#guess_debut_game_list .nmb_of_games,
#guess_debut_stat_more .nmb_of_games,
#guess_debut_stat_full .nmb_of_games
{ text-decoration: none; }

#guess_debut_stat_full .stat_link { text-decoration: none; }

.nmb_of_win, .nmb_of_lose {
    padding-left: 20px;
    box-sizing: border-box;
    
    font-family: "Clash Medium";
    font-size: 1em;
}

.nmb_of_win { color: var(--green); }
.nmb_of_lose { color: var(--red); }

#guess_debut_stat_more .list_of_ li {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

#guess_debut_stat_more .list_of_.win  li { background: var(--green); }
#guess_debut_stat_more .list_of_.lose li { background: var(--red); }

#guess_debut_stat_more .list_of_ li:nth-child(1),
#guess_debut_stat_more .list_of_ li:nth-child(4n+1),
#guess_debut_stat_more .list_of_ li:nth-child(4n+2) { margin-right: 20px; }

#guess_debut_stat_more .list_of_ li:nth-child(4n),
#guess_debut_stat_more .list_of_ li:nth-child(4n-1) { margin-left: 20px; }




.stat_link {
    font-family: "Zodiak Regular";
    font-size: 0.86em;
    text-decoration: underline;
    cursor: pointer;
}

.nmb_of_games {
    font-family: "Clash Medium";
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.nmb_of_games.victory, .nmb_of_games.defeat {
	color: var(--white);
    text-decoration: none;
}

.start_btn, .back_btn, .close_btn {
    width: 80px;
    height: 40px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    cursor: pointer;
}

.start_btn, .back_btn {
    font-family: "Zodiak Regular";   
    font-size: 0.86em;
}

.close_btn {
	font-family: "Clash Medium";
    font-size: 1em;
}

.start_btn, .close_btn {
    background: var(--white);
    color: var(--black);
}

.back_btn {
	background: var(--black);
    color: var(--white);
    text-decoration: underline;
}

.h-240 { height: 240px; }
.h-160 { height: 160px; }
.h-120 { height: 120px; }
.h-80  { height: 80px;  }
.h-60  { height: 60px;  }
.h-40  { height: 40px;  }

.w-240 { width: 240px; }
.w-160 { width: 160px; }
.w-120 { width: 120px; }
.w-80  { width: 80px;  }
.w-40  { width: 40px;  }

.display_none { display: none; }

#squares {
    position: relative;
    z-index: 5;
    
    margin: 44px 0 0 40px;
}

.circle {
	width: 34px;
    height: 34px;
    border-radius: 16px;
    margin-left: 20px;
}

